body {
  padding: 0;
  margin: 0;
}

/* HEADER */
header {
  position: relative;
}

#newsletter{
  background-color: purple;
  }
#newsletter img{
  width: 40px;
  display: inline-block;
  filter: invert(100%); 
}
.logo{
  display: inline-block;
}
#champs_newsletter>div>input {
  margin-right: 5px;
}

#champs_newsletter div{
  display: flex;
  align-items: center;
  justify-content: center;  
  position: absolute;
  left: 800px;
  top: 8px;
}

button {
  color: white;
  background-color:limegreen;
  border-radius: .25rem;
  font-size: 1rem;
  padding: .375rem .75rem;
  border: 1px solid transparent;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

#champs_newsletter>div>span {
  color: white;
  padding: 5px;
}

/* NavBar */

nav {
  height: 100px;
}
nav>div:first-of-type {
  border-right: lightgray 2px solid;
}

nav>div>img {
  position: fixed;
  left: 0px;
  top: 0px;
  transform: scale(0.4);
}

.menu {
  display: inline-block;
  justify-content: center;
}

.menu>ul>li {
  display: inline-block;
  text-align: center;
} 

nav {
  border-bottom: lightgray 1px solid;
}



/* CONTENU */

#contenu>h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 50px;
}
#contenu>h1::after {
  content: '';
  display: block;
  border-bottom: purple 1px solid;
  text-align: center;
  padding: 40px;
  transform: scaleX(0.03);
}
#contenu>p:first-of-type {
  padding-top: 15px;
}

/* FOOTER */

footer {
  background-color: darkslategray;
  position: fixed;
  bottom: 0px;
  width: 100%;
}